// Breakpoints
$medium:       600px;
$large:       1020px;
$x-large:     1450px;

$small-only:  new-breakpoint(max-width $medium - 1                    );
$medium-up:   new-breakpoint(min-width $medium                        );
$medium-only: new-breakpoint(min-width $medium  max-width $large - 1  );
$large-up:    new-breakpoint(min-width $large                         );
$large-only:  new-breakpoint(min-width $large   max-width $x-large - 1);
$xlarge-up:   new-breakpoint(min-width $x-large                       );
